<a href="https://colab.research.google.com/github/busraderbazlar/Akbank_Data_Science/blob/master/B%C3%BC%C5%9Fra_Derbazlar_YetGen_Jump_%26_Akbank_Week_2_JUMPER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# QUESTION 1 #
# Write a function that accepts an integer value as an input
# and return True if the value is divisable with 7
# - do not forget to test the function
def func1(x):
    if x % 7 == 0:
      return True
    else:
      return False

print(func1(10))
print(func1(14))

False
True

In [4]:
# QUESTION 2 #
# Write a function that accepts a list and a integer (x) as input
# return first value of list which is greater then the input integer x
def func2(x, user_list):
    for value in user_list:
      if value >= x:
        return value

my_list = [6,3,6,10,0,4,2,7,]
func2(10, my_list)

10

In [ ]:
# QUESTION 3 #
# Write a function that accepts an integer as input
# prints a sequence that increments 5, 10 times.
# Ex:
# input -> 4
# output -> 4, 9, 14, 19, 24, 29, 34, 39, 44, 49
def func3(x):
    ...

func3(4)

4
9
14
19
24
29
34
39
44
49

In [ ]:
# QUESTION 4 #
# Write a function that prints given dictionary's ("students")
# key and value pairs as follows (you need to use for loop)
# key : value
students = {
    "student_id1" : "student_name1",
    "student_id2" : "student_name2",
    "student_id3" : "student_name3",
    "student_id4" : "student_name4",
    "student_id5" : "student_name5"
}

def func4(students):
    ...

func4(students)

student_id1 : student_name1
student_id2 : student_name2
student_id3 : student_name3
student_id4 : student_name4
student_id5 : student_name5

In [ ]:
# QUESTIONS 5 #
# a list of integers "a" is given
# Using a while loop, pop elements from list until element size of a
# is equals to 5
# create an empty list and append poped elements to this list "b"
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
b = []
# YOUR CODE HERE #



print(a)
print(b)

[1, 2, 3, 4, 5]
[16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6]

In [ ]:
# QUESTION 6 #
# Write a function that ask user input until the input is
# divisable to 9

def func6():
    ...

func6()

Enter a number: 5
Enter a number: 7
Enter a number: 10
Enter a number: 18

In [ ]:
# QUESTION 7 #
# two lists (a and b) using zip() method print element pairs
# located in same index
a = ["apple", "melon", "banana"]
b = [0.67, 3.6, 15.6]

# YOUR CODE HERE

apple 0.67
melon 3.6
banana 15.6

In [ ]:
# QUESTION 8 # REF: UDACITY
"""
Use zip to write a for loop that creates a string 
specifying the label and coordinates of each point 
and appends it to the list points. Each string should be 
formatted as label: x, y, z. For example, 
the string for the first coordinate should be F: 23, 677, 4.
"""

x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]

points = []
# write your for loop here

In [ ]:
# QUESTION 9 #
# Write a function that accepts list x as an input
# and using list comprehensions return a list with squared values
# ex:
# input -> [1,2,5]
# output -> [1,4,25]

def func9(x):
    ...

a = [3,5,7,8,3]
print(func9(a))

[9, 25, 49, 64, 9]

In [ ]:
# QUESTION 10 #
# Write a function with "lambda" expression that
# simle power function for example
# x: 3 y: 2, calculates 3^2 = 9

# YOUR CODE HERE #

9

In [ ]:
# QUESTION 11 #
# Write a function which accepts integer x as input,
# Calculates a fibonacci sequence starting from 1
# prints x values of the sequence
# ex: x = 3
# output: 1 1 2

def fibo(x):
    pass

fibo(10)

In [ ]:
# QUESTION 12 #
# Python program to print first 10
# prime numbers
# A function name prime is defined
# using def

def prime(n):
    ...
 
# Driver Code
n = 10
 
# print statement
print("First 10 prime numbers are:  ")
prime(n)

First 10 prime numbers are:
1
2
3
5
7
11
13
17
19
23

In [ ]:
# QUESTION 13 #
## Ask user's name with the use of def function.

def asking_username():
        ...

print("Hello, " + asking_username().title() + "!")

What's your name?
İrem
Hello, İrem!

In [ ]:
# QUESTION 14 #
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

# YOUR CODE HERE #

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [ ]:
# QUESTION 15 #
#you could write a lambda function that doubles its argument: lambda x: x*2, 
#and use it with the map function to double all elements in a list

my_list = [1, 2, 3, 4, 5, 6]

# YOUR CODE HERE #
print(new_list) # [2, 4, 6, 8, 10, 12]

[2, 4, 6, 8, 10, 12]