<a href="https://colab.research.google.com/github/busraderbazlar/Akbank_Data_Science/blob/master/B%C3%BC%C5%9Fra_Derbazlar_YetGen_Jump_%26_Akbank_Week_1_JUMPER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Data Types and Operations***

In [3]:
# QUESTION 0
# A bag can contain 5 items and there are 12 full bags.

# Task 1: Calculate how many items we have
# Solution 1:
# YOUR CODE #
bag_num= 12
bag_cont_items= 5
num_items = bag_num*bag_cont_items
print(num_items)
# Task 2: If we want to store our items in different bags which can carry 7 item. How many items cannot fit the bags?
# YOUR CODE #
cannot_fit_items = num_items % 7 
print(cannot_fit_items)

60
4

In [4]:
# QUESTION 1

# Create a variable called "var1" by calculating the square of 25, 
# and create a variable called "var2" by calculating 3452 dividing by 1.6
# Task: Print types of each variable and print the comparisin of these two types

# YOUR CODE #

Var1= 25*25
Var2= 3452/1.6
print(type(Var1),type(Var2))
print(Var1==Var2)

<class 'int'> <class 'float'>
False

In [5]:
# QUESTION 2

# By using the given "words" list, print("Data Science Week 2")
words = [2, 1, "Science", "Data", "Week"]

# Solution
# YOUR CODE #

print(f"{words[3]} {words[2]} {words[4]} {words[0]}")

Data Science Week 2

In [ ]:
# QUESTION 3

# compute given expression below by using values x,y and assign the result to variable "out"
# EXPRESSION: x^3 + 5xy + 1 - y^2
x = 1.5
y = 10

# Solution 
# YOUR CODE #

In [11]:
# QUESTION 4

# Sentence: I love YetGen Jump & Akbank Data Science Education Program
# Task: Convert the "Sentence" to a list, print length of the list and the value in third index
sentence = "I love YetGen Jump & Akbank Data Science Education Program"
# YOUR CODE #
sentence_list= list(sentence.split(" "))
len_sentence_list = len(sentence_list)
print(len_sentence_list)
print(sentence_list[3])

10
Jump

In [19]:
# QUESTION 5

# There are two mail adresses in a tuple called "mails". 
# Print each mail adresses's domain (@gmail.com etc.)
# Check if the domain (@gmail.com etc.) of two mail adresses are the same.
mails = ("yetgenjump@yetkingencler.com", "iletisim@yetkingencler.com")

# Solution
# YOUR CODE #
domain = mails[0].split("@"), mails[1].split("@")
print(domain)
print(domain[0][1]==domain[1][1])

(['yetgenjump', 'yetkingencler.com'], ['iletisim', 'yetkingencler.com'])
True

# ***Data Structures***

In [34]:
# QUESTION 6

# Print summer months by slicing given list "months"
months = ["January","February","March","April","May","June","July","August","September","October","November","December"]

# Solution
# YOUR CODE #
given_months = []
for i in months:
  if i == 'June' :
     given_months.append(i)
  elif i == 'July' :
     given_months.append(i)
  elif i == 'August' :
       given_months.append(i)
print(given_months)

['June', 'July', 'August']

In [29]:
# QUESTION 7

# Print last three months in the same line and add "-" between elements
# YOUR CODE #

print(f"{months[len(months)-3]}-{months[len(months)-2]}-{months[len(months)-1]}")

October-November-December

In [43]:
# QUESTION 8
# Sort the months list alpabeticaly and print first three elements
# YOUR CODE #
months.sort()
print(months[0],months[1],months[2])

April August December

In [46]:
# QUESTION 9

# Score Board ordered as high scores. Find the position of "Tuna". And change the Tuna's position to first.
score_board = ["Yeliz","Ahmet","Cagri","Tuna","Alp"]
score_board.insert(0, score_board.pop(score_board.index("Tuna")))
# Solution
# YOUR CODE #
print(score_board)

['Tuna', 'Yeliz', 'Ahmet', 'Cagri', 'Alp']

In [47]:
# QUESTION 10

# dictionary "days" contains 5 week-days and lectures for each day. Print Thuesday's lecture.
days = {
    "Monday": "Calculus",
    "Thuesday": "Int. Data Science",
    "Wednesday": "Statistics",
    "Thursday": "Modern Art",
    "Fridat": "Advanced Programming"
}

# Solution
# YOUR CODE #

print(days["Thuesday"])

Int. Data Science

In [48]:
# QUESTION 11

# dictionary "scores" contains three different students grades. Print max grade of Anil
scores = {
    "Alp":[46,89,100],
    "Irem":[34,90,89],
    "Anil":[10,68,65]
}

# Solution
# YOUR CODE #
print(max(scores["Anil"]))

68

In [ ]:
# QUESTION 12

# dictionary "scores" contains three different students grades.
# Using "scores" dictionary, create dictionary called "min_scores", which keys are students and values are minimum grades
scores = {
    "Alp":[46,89,100],
    "Irem":[34,90,89],
    "Anil":[10,68,65]
}

# Solution
min_scores = {
    "Alp": min(scores["Alp"]),
    "Irem": min(scores["Irem"]),
    "Anil": min(scores["Anil"])
}

print(min_scores)

{'Alp': 46, 'Irem': 34, 'Anil': 10}

In [84]:
# QUESTION 13

# dictionary items hold item ids as keys and properties as values
# ids list contains product ids
# find the greatest id in ids list and print its stock value

ids = [83,98,67]
items = {
    83 : {
        "stock": 100,
        "price": 89.08
    },
    98 : {
        "stock": 7546,
        "price": 23.12
    },
    67 : {
        "stock": 0,
        "price": 4.5
    }
}

# Solution
# YOUR CODE #
max_id_in_ids= max(ids)
items[max_id_in_ids]["stock"]

7546

In [90]:
# QUESTION 14

# dictionary items hold item ids as keys and properties as values
# ids list contains product ids
# find the smallest id in ids list and calculate max money you can get by selling all the stock
# if you make 35% discount, calculate new result
# print results in format "Max Money: ... , With Discount: ..."

ids = [83,98,67]
items = {
    83 : {
        "stock": 100,
        "price": 89.08
    },
    98 : {
        "stock": 7546,
        "price": 23.12
    },
    67 : {
        "stock": 1642,
        "price": 4.5
    }
}

# Solution
# YOUR CODE #

smallest_id= min(ids)
max_money = items[smallest_id]["stock"]*items[smallest_id]["price"]
with_discount= max_money - ((max_money*35)/100)
print(f"Max Money: {max_money}, with Discount: {with_discount}")

Max Money: 7389.0, with Discount: 4802.85